@page "/home"

@inject HttpClient httpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorageService

<div class="center">
    <h1>ADMINISTRACIÓN DEL SISITEMA</h1>
</div>

@code {
    
private void goAdd()
    {
        NavigationManager.NavigateTo("libro/agregar");
    }
}
<style>
.center{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background-color:white;
    border: solid 3px blue;
    height:120px;
    width:50%;
    margin-left:20%;
    margin-top:10%;
    box-shadow: 0 5px 12px  rgba(0,0,0,0.6);
    border-radius:6px;
}

h1{
    color:blue;
    font-size:1.8rem;
}

</style>
